.banner {
  width: 100%;
  height: 355px;
  background-image: url(../image/image-10.png);
  background-size: cover;
  background-position: 50% 50%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 50px;
  padding-left: 20px;
}
.b_font p:first-child {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #000000;
  font-size: 64px;
  margin-bottom: 10px;
}
.b_font p:last-child {
  font-family: "Inter", Helvetica;
  font-weight: 700;
  color: #000000;
  font-size: 48px;
}
.b_font p span {
  font-size: 48px;
}
.b_img img {
  width: 171px;
  height: 179px;
}

/* 公告 */
.nottice {
  width: 100%;
  height: 77px;
  background-color: #efefef;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nottice p {
  font-family: "Inter", Helvetica;
  font-weight: 500;
  color: #6e6e6e;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.from .item label {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #1c1b1b;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
}
.from .item {
  width: 351px;
  border-bottom: 1px solid #d0d0d0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 15px;
}
.from .item input {
  font-family: "Inter", Helvetica;
  font-weight: 400;
  color: #2c2c2c;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
  border: 0;
  text-align: right;
}

.from .f_btn {
  width: 289px;
  height: 45px;
  background-color: #4450c2;
  border-radius: 16px;
  margin: 40px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.from .f_btn a {
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  color: #551a8b;
}
.from .f_btn a:hover {
  color: red;
}
